* {
    padding: 0% 0%;
    }
body {
    background-color: hsl(30, 38%, 92%);
}
.image1 {
    height: 100%;
    width: 50%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.container {
    position: relative;
    top: 11.7vw;
    height: 31.25vw;
    margin: auto;
    background-color: white;
    border-radius: 10px ;
    width: 42%;
}
.perfum {
    position: relative;
    right: 3px;
    font-family: 'montserrat' ,sans-serif;
    margin: 0%;
    letter-spacing: 0.3vw;
    opacity: 55%;
    font-weight: 500;
    font-size: 17px;
}
.hh {
    font-family: 'Fraunces' ,sans-serif;
    font-size: 45px;
    font-weight: 800;
    line-height: .95;
    margin-top: .62em;
    margin-bottom: .62em;
    font-variant: normal;
}
.pp {
    font-family: 'montserrat' ,sans-serif;
    font-weight: 500;
    line-height: 1.75;
    opacity: 60%;
    font-size: 17.5px;
    margin-bottom: 2em;

}
.rside {
    float: right;
    padding: 2.25vw 2vw;
    width: 16.53vw;
    height: 27.25vw;}
p.h1,p.h2 {
    margin: 0;
    display: inline-block;
}
p.h1{
    font-family: 'Fraunces' ,sans-serif;
    font-size: 44px;
    font-weight: 700;
    color: #3d8168;
}
.didi {
    background-color: #81813d;
}
p.h2 {
    font-family: 'montserrat' ,sans-serif;
    text-decoration: line-through;
    margin-left: 2em;
    position: relative;
    bottom: .67em;

}
button {
    margin-bottom: 0%;
    cursor: pointer;
    color: white;
    background-color: #3d8168;
    border: 0;
    border-radius: 5%/15%;
    height: 3.333vw;
    width: 100%;
    margin-top: 1.7em;
    font-size: 21px;
    font-weight: 800;
}
.icon_button {
    width: 1em;
    vertical-align:sub;
    margin-right: .6em;

    /* margin: 2em; */
}
button:hover {
    background-color: #1a4031;}