others/css.html
others/style3.css
others/Task 2.rar
others/Task 2 (2)/Avatar.jpg
others/Task 2 (2)/Facebook Logo.png
others/Task 2 (2)/Facebook.png
others/Task 2 (2)/Gmail.png
others/Task 2 (2)/HP Company 1.jpeg
others/Task 2 (2)/HP Company.png
others/Task 2 (2)/Instagram logo.png
others/Task 2 (2)/Instagram.png
others/Task 2 (2)/style.css
others/Task 2 (2)/Task 2.html
others/Task 2 (2)/Youtube.png
others/news-homepage-main.zip
others/news-homepage-main/.gitignore
others/news-homepage-main/index.html
others/news-homepage-main/README-template.md
others/news-homepage-main/README.md
others/news-homepage-main/style-guide.md
others/news-homepage-main/assets/fonts/Inter-VariableFont_slnt,wght.ttf
others/news-homepage-main/assets/fonts/README.txt
others/news-homepage-main/assets/fonts/static/Inter-Bold.ttf
others/news-homepage-main/assets/fonts/static/Inter-ExtraBold.ttf
others/news-homepage-main/assets/fonts/static/Inter-Regular.ttf
others/news-homepage-main/assets/images/favicon-32x32.png
others/news-homepage-main/assets/images/icon-menu-close.svg
others/news-homepage-main/assets/images/icon-menu.svg
others/news-homepage-main/assets/images/image-gaming-growth.jpg
others/news-homepage-main/assets/images/image-retro-pcs.jpg
others/news-homepage-main/assets/images/image-top-laptops.jpg
others/news-homepage-main/assets/images/image-web-3-desktop.jpg
others/news-homepage-main/assets/images/image-web-3-mobile.jpg
others/news-homepage-main/assets/images/logo.svg
others/news-homepage-main/design/active-states.jpg
others/news-homepage-main/design/desktop-design.jpg
others/news-homepage-main/design/desktop-preview.jpg
others/news-homepage-main/design/mobile-design.jpg
others/news-homepage-main/design/mobile-menu.jpg
