others/css.html
others/style3.css
others/Task 2.rar
others/Task 2 (2)/Avatar.jpg
others/Task 2 (2)/Facebook Logo.png
others/Task 2 (2)/Facebook.png
others/Task 2 (2)/Gmail.png
others/Task 2 (2)/HP Company 1.jpeg
others/Task 2 (2)/HP Company.png
others/Task 2 (2)/Instagram logo.png
others/Task 2 (2)/Instagram.png
others/Task 2 (2)/style.css
others/Task 2 (2)/Task 2.html
others/Task 2 (2)/Youtube.png
