<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registeration Form</title>

    <style>
        body {
            background-color: rgb(159, 195, 252);
            font-family: sans-serif;
        }

        fieldset {
            border-radius: 10px;
        }

        .button {
            width: 400px;
            font-size: 20px;
            border-radius: 20px;
            background-color: aquamarine;
        }

        #picture {
            border-radius: 50px;

        }

        input {
            border-radius: 20px;
        }
    </style>
</head>

<body>
    <h1 style="display: flex;align-items:center;">
        <img src="static/Task 4/Facebook.png" alt="Facebooklogo" width="50px" height="50px">
        New Facebook Account
    </h1>
    <form action="backend.html" method="post">
        <fieldset style="border: 3px solid;">
            <legend>personal info</legend>
            <label for="fname">First Name : </label>
            <input type="text" id="fname" name="First Name" placeholder=" Your First Name" required>
            <br>

            <label for="lname">Last Name : </label>
            <input type="text" id="lname" name="Last Name" placeholder=" Your Last Name" required>
            <br>

            <label for="password"> Password : </label>
            <input type="password" id="password" name="password" placeholder=" Your Password">
            <br>

            <label for="email">Email : </label>
            <input type="email" id="email" name="email" placeholder=" Example@gmail.com" required>
            <br>

            <label for="phone">Phone : </label>
            <input type="tel" id="phone" name="phone" placeholder=" Ex:+201206531362" required>
            <br>

            <label for="picture">Your Picture</label>
            <input type="file" id="picture" name="picture" required
                style="border: 2px solid; padding:5px; margin: 5px;">
            <br>

            <label for="male">Male</label>
            <input type="radio" name="gender" id="male">
            <label for="female">Female</label>
            <input type="radio" name="gender" id="female">
            <br>
        </fieldset>
        <br>
        <fieldset style="border: 3px solid;">
            <legend>relations</legend>

            <label for="Marrid">Marrid</label>
            <input type="radio" name="relation" id="HTML" required>
            <br>

            <label for="engaged">engaged</label>
            <input type="radio" name="relation" id="engaged" required>
            <br>

            <label for="single">single</label>
            <input type="radio" name="relation" id="single" required>
            <br>
        </fieldset>
        <br>
        <fieldset style="border: 3px solid;">
            <legend>Buttons</legend>
            <input type="reset" value="Reset" class="button">
            <br>
            <br>
            <input type="submit" value="Submit" class="button">
        </fieldset>
    </form>

</body>

</html>