<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f1a281e1a4.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="static/Task 6/s_letter.png" type="image/x-icon">
    <link rel="stylesheet" href="static/Task 6/style.css">
    <title>Salon</title>
</head>

<body>
    <nav>
        <ul>
            <a href="#home">
                <li>Home</li>
            </a>
            <a href="#designs-container">
                <li>Designs</li>
            </a>
            <a href="#portfolio">
                <li>Portfolio</li>
            </a>
            <a href="#footer">
                <li>Contact-Us</li>
            </a>
        </ul>
    </nav>
    <main>
        <section class="image">
            <div>SALON</div>
            <img class="mySlides" src="static/Task 6/1.jpg" alt="image">
            <img class="mySlides" src="static/Task 6/2.jpg" alt="image">
            <img class="mySlides" src="static/Task 6/3.jpg" alt="image">
            <img class="mySlides" src="static/Task 6/4.jpg" alt="image">
            <img class="mySlides" src="static/Task 6/5.jpg" alt="image">
            <img class="mySlides" src="static/Task 6/6.jpg" alt="image">
        </section>
        <div class="block"></div>
        <section id="home">
            <article>
                <header>Interior design, architecture and construction</header>
                <h1>We work worldwide</h1>
                <p> Studia 54 group consists of 3 unique brands, with its business scope covering all sectors of the
                    world of interior design and architecture. By creating projects in our unique one-of-a-kind style,
                    we aim to become one of the best international design bureau. Our team of experts from a wide
                    variety of areas make dreams of a luxurious and comfortable life come true. </p>
                <p> The art of living in the style of Studia 54 can be described as the manifesto of individuality,
                    ongoing creative search and modern view on heritage. We create a new quality of life by providing
                    our clients with a sense of exclusivity for many years forward. From the beginning of the design
                    project to the furniture production, we design a luxurious lifestyle, offering a unique method of
                    working with the customer and high-quality service. </p>
                <p> The unique concept of the group is based on three key elements, including inner growth, the
                    principle of "interior as art" and diverse creative approach. We follow global trends, draw
                    inspiration from the world of fashion and design, and expand the geography of our projects. </p>
                <p> Our success defines our vision of modern luxury in a global perspective, the quality of services and
                    the responsible creative approach of our team. It allows us to achieve new goals with every new
                    project and become a part of the design of the future. +</p>
            </article>
            <div class="images">
                <img src="static/Task 6/1.jpg" alt="photo">
            </div>
        </section>
        <div class="block"></div>
        <section id="designs-container">
            <header>
                <h1>What will we work on?</h1>
                <h2>choose your type of premises - and you will find out the way we cooperate</h2>
            </header>
            <div class="designs">
                <a href="https://www.studia-54.com/en/residental" target="_blank">
                    <div>

                        <div class="black-sec">
                            <h1>Residential Interiors</h1>

                        </div>
                        <div class="border">

                            <p>Exclusive residential interiors for the apartments, villas, penthouses worldwide.</p>
                        </div>
                        <img src="static/Task 6/s1.jpg" alt="">

                    </div>
                </a>
                <a href="https://www.studia-54.com/en/commercial" target="_blank">
                    <div>

                        <div class="black-sec">
                            <h1>Business Interiors</h1>

                        </div>
                        <div class="border">

                            <p>Effective commercial interiors for the restaurants and cafes, offices, hotels and other
                                business.</p>
                        </div>
                        <img src="static/Task 6/s2.jpg" alt="">

                    </div>
                </a>
                <a href="https://www.studia-54.com/en/architectural" target="_blank">
                    <div>

                        <div class="black-sec">
                            <h1>Architectural design</h1>

                        </div>
                        <div class="border">
                            <p>Complex architectural design (Wright style and stone houses) with a complete package of
                                documentation</p>

                        </div>
                        <img src="static/Task 6/s3.jpg" alt="">

                    </div>
                </a>
                <a href="https://www.studia-54.com/en/services/repairs" target="_blank">
                    <div>
                        <div class="black-sec">
                            <h1>General contract</h1>

                        </div>
                        <div class="border">

                            <p>Dismantling, utility assembling, shell and core condition and fine finishing works,
                                furniture& lightning and decor arrangement.</p>
                        </div>
                        <img src="static/Task 6/s4.jpg" alt="">

                    </div>
                </a>
            </div>
        </section>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>

        <section id="portfolio">
            <header>
                <h1>Portfolio</h1>
                <h2>Our works</h2>
            </header>
            <div class="works">

                <div class="work">

                    <fieldset>
                        <legend>Splendor Naturalis: a villa in Repino</legend>
                    </fieldset>
                    <img src="static/Task 6/p1.jpg" alt="">
                </div>
                <div class="work">
                    <fieldset>
                        <legend>Splendor Naturalis: a villa in Repino</legend>
                    </fieldset>
                    <img src="static/Task 6/p2.jpg" alt="">
                </div>
                <div class="work">
                    <fieldset>
                        <legend>Splendor Naturalis: a villa in Repino</legend>
                    </fieldset>
                    <img src="static/Task 6/p3.jpg" alt="">
                </div>
                <div class="work">
                    <fieldset>
                        <legend>Splendor Naturalis: a villa in Repino</legend>
                    </fieldset>
                    <img src="static/Task 6/p4.jpg" alt="">
                </div>
            </div>
        </section>
        <div class="block"></div>

    </main>
    <!-- <div class="block"></div> -->
    <footer id="footer">
        <h1>Contact-Us</h1>
        <a href="https://twitter.com/AhmedGa45438400" target="_blank"><i class="fa-brands fa-twitter fa-2xl"
                style="color: #ffffff"></i></a>
        <a href="https://www.facebook.com/djttcote" target="_blank"><i class="fa-brands fa-facebook fa-2xl"
                style="color: #ffffff;"></i></a>
        <a href="https://www.linkedin.com/in/ahmed-gaber-036a2821a" target="_blank">
            <i class="fa-brands fa-linkedin fa-2xl" style="color: #ffffff;"></i>
        </a>
        <h2>Email: ahmed.gaber.elsadek@gmail.com</h2>
        <h2>tel: +201206531362</h2>
    </footer>
    <script>
        var slideIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";

            }
            slideIndex++;
            if (slideIndex > 2 * x.length) { slideIndex = 1 }

            if (slideIndex % 2 == 0) {
                x[slideIndex / 2 - 1].style.display = "block";
                x[slideIndex / 2 - 1].style['animation-name'] = "opctyr";
                x[slideIndex / 2 - 1].style['animation-duration'] = "2s";
            }
            else {

                x[(slideIndex - 1) / 2].style.display = "block";
                x[(slideIndex - 1) / 2].style['animation-name'] = "opcty";
                x[(slideIndex - 1) / 2].style['animation-duration'] = "2s";
            }

            // x[slideIndex].style.display = "block";
            // x[slideIndex].style['animation-name'] = "opcty";
            // x[slideIndex].style['animation-duration'] = "4s";

            setTimeout(carousel, 2 * 1000); // Change image every 2 seconds
        }
    </script>
</body>

</html>