<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/Ahmed/style.css">
    <link rel="stylesheet" href="static/Task 3/Task.css">
    <link rel="icon" href="static/Ahmed/favicon.png">
    <title>Lectures Table</title>
</head>

<body>
    <header>
        <img src="static/Ahmed/favicon.png" alt="logo">
        <h1>Ahmed El-Sadek</h1>
    </header>
    <main>
        <table  cellpadding="10px" cellspacing="5" bordercolor="blue">
            <tr >
                <th colspan="13">Lectures Table</th>
            </tr>
            <tr class="tr1" >
                <td class="td1">Day</td>
                <td>8:9</td>
                <td>9:10</td>
                <td>10:11</td>
                <td>11:12</td>
                <td>12:1</td>
                <td>1:2</td>
                <td>2:3</td>
                <td>3:4</td>
                <td>4:5</td>
                <td>5:6</td>
                <td>6:7</td>
                <td>7:8</td>
            </tr>
            <tr >
                <td  class="td1">Saturday</td>
                <td colspan="2">Bacteria</td>
                <td colspan="2">Physical Chemistry</td>
                <td></td>
                <td colspan="2">Analtical Chemistry</td>
                <td colspan="3">Section Physical Chemistry</td>
                <td colspan="2">Section Analtical Chemistry</td>
            </tr>
            <tr>
                <td class="td1">Sunday</td>
                <td colspan="2">Section Bacteria</td>
                <td colspan="2">Medecin Flagla</td>
                <td colspan="2">Fungi</td>
                <td colspan="2">Viruses</td>
                <td colspan="2">Section Viruses</td>
                <td colspan="2">section Medecin Flagla</td>
            </tr>
            <tr>
                <td class="td1">Monday</td>
                <td colspan="2">Alge</td>
                <td colspan="2">Feed Microbiology</td>
                <td colspan="2">Ethics</td>
                <td colspan="2">Section Alge</td>
                <td colspan="2">Section Fungi</td>
                <td colspan="2">Section Feed Microbiology</td>

            </tr>
            <tr>
                <td class="td1">Tuesday</td>
                <td colspan="2">Bacteria</td>
                <td colspan="2">Physical Chemistry</td>
                <td></td>
                <td colspan="2">Analtical Chemistry</td>
                <td colspan="3">Section Physical Chemistry</td>
                <td colspan="2">Section Analtical Chemistry</td>

            </tr>
            <tr>
                <td class="td1">Wednesday</td>
                <td colspan="2">Section Bacteria</td>
                <td colspan="2">Medecin Flagla</td>
                <td colspan="2">Fungi</td>
                <td colspan="2">Viruses</td>
                <td colspan="2">Section Viruses</td>
                <td colspan="2">section Medecin Flagla</td>
            </tr>
            <tr>
                <td class="td1">Thursday</td>
                <td colspan="2">Alge</td>
                <td colspan="2">Feed Microbiology</td>
                <td colspan="2">Ethics</td>
                <td colspan="2">Section Alge</td>
                <td colspan="2">Section Fungi</td>
                <td colspan="2">Section Feed Microbiology</td>
            </tr>
        </table>
    </main>
    <footer>
            <a href="https://t.me/Ahmed_Gaber_1" target="_blank">
                <img src="static/Ahmed/telegram.png" alt="Telegram">
            </a>
            <a href="https://www.facebook.com/djttcote" target="_blank">
                <img src="static/Ahmed/Facebook.png" alt="Facebook">
            </a>
            <a href="https://twitter.com/AhmedGa45438400" target="_blank">
                <img src="static/Ahmed/Twitter.png" alt="Twitter">
            </a>
            <a href="mailto:ahmed.gaber.elsadek@gmail.com" target="_blank">
                <img src="static/Ahmed/Gmail.png" alt="Gmail">
            </a>
            <a href="https://www.linkedin.com/in/ahmed-gaber-036a2821a" target="_blank">
                <img src="static/Ahmed/Linked in.png" alt="Linked in">
            </a>
            <a href="https://github.com/AhmedGaber0000" target="_blank">
                <img src="static/Ahmed/github.png" alt="GitHub">
            </a>
            <a href="https://wa.me/+201206531362" target="_blank">
                <img src="static/Ahmed/whatsapp.png" alt="Whatsapp">
            </a>


    </footer>
</body>

</html>